* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #fff;
    color: #333;
    background-color: skyblue;
}

.container {
    display: block;
    width: 500px;
    margin: 10px auto 100px;
    background-color: #fff;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    border-bottom: 2px solid #333;
    padding: 20px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.todo_heading {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

#add-button {
    background-color: aquamarine;
}

input {
    margin: 0;
    font-size: 18px;
    width: 300px;
    height: 35px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    color: #888;
}

input:focus {
    color: #333;
}

button {
    border: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
}

button:hover {
    color: #333;
}

#list_item {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

#list_item > li {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    font-size: 20px;
}

#list_item > li > button {
    background-color: red;
    cursor: pointer;
}

#list_item > li > button:hover {
    color: #cf2323;
}

